@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kanit";
}
.product-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.buy-product {
  background-color: blue;
  width: 50px;
  border-radius: 10px;
}
